body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(253, 228, 196);

}

h1,
p {
    color: #333;
}


label {
    display: block;
    margin: 10px 0;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
}

/* Download Button Styles */
.download-btn {
    background-color: #008CBA;
}

.download-btn:hover {
    background-color: #0077a7;
}

.alert-btn {
    background-color: #f44336;
}

.alert-btn:hover {
    background-color: #d32f2f;
}