body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(253, 228, 196);
}

h1,
p {
    color: #333;
}



audio {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
}

/* Customize the appearance of the controls */
audio::-webkit-media-controls-panel {
    background-color: #f8f8f8;
    border-radius: 5px;
}



img {
    max-width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin: 10px 0;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
}

/* Download Button Styles */
.download-btn {
    background-color: #008CBA;
}

.download-btn:hover {
    background-color: #0077a7;

}


.alert-btn {
    background-color: #f44336;
}

.alert-btn:hover {
    background-color: #d32f2f;
}